:root {
  --nav-width: 4em;
  --font-body: 'sofia-pro', sans-serif;
  --font-head: 'sofia-pro', sans-serif;
  --font-code: 'attribute-mono', monospace;
  --font-size: 20px;
  --max-width-bp: 768px;
  --orange-pink: linear-gradient(
    to bottom right,
    var(--orange-light),
    var(--orange-dark) 85%
  );
  --green-grad: linear-gradient(
    to bottom right,
    var(--green-light),
    var(--green-dark) 85%
  );
  --background: var(--gray6);
  --text-color: var(--gray2);
  --h-color: #fff;
  --nav-shadow: 4px 0 10px -3px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: var(--gray5);
  --tag-bg: var(--gray4);
  --code-bg: #22262f;
  --card-bg: var(--gray5);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  --card-radius: 0.25em;

  --nav-height: 4rem;
  // --nav-bg: rgba(148, 148, 64, 0.3);
  --nav-bg: var(--vs-code-black);

  --homr-bg: black;
  --my-work-bg: red;
  --contact-bg: green;

  --footer-height: 2rem;
  --footer-bg: wheat;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto Mono', monospace;

  --font-logo: 'Poppins', sans-serif;
  --font-nav: 'Roboto Mono', monospace;

  // Colors
  --vs-code-blue: #6c9ad3;
  // --vs-code-blue: #66d9ed;
  --highlight-color: #18ff83;

  --vs-code-gray: #807e77;
  // --vs-code-gray: #bb77ff;
  --vs-code-black: #1e1e1e;

  // Slider
  --no-of-slides: 5;
  --slides-in-view: 5;
  --slide-width: 200px;
  --slide-height: 366px;
  --iteration-time: 15s;
}

body {
  background-color: #050810;
}

.highlight {
  color: var(--highlight-color);
}

header.nav-bar {
  height: var(--nav-height);
  background-color: var(--nav-bg);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  box-sizing: border-box;

  .logo {
    color: var(--vs-code-blue);
    font-family: var(--font-nav);
    font-weight: 700;
    font-size: 2rem;

    .braket {
      color: var(--vs-code-gray);
    }
  }

  nav {
    display: flex;
    column-gap: 0.5rem;
    a {
      color: white;
      text-decoration: none;
      font-family: var(--font-nav);
      text-transform: lowercase;
      padding: auto;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: var(--vs-code-blue);
        // color: #83bbff;
        color: var(--vs-code-blue);
      }
    }
  }

  .logo,
  nav a {
    padding: 0.75rem;
  }
}

main {
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .section-wrapper {
      max-width: 1220px;
    }

    &#home {
      background-color: var(--homr-bg);

      background-image: url(../assets/jakub-sofranko-RoYujmHrdxA-unsplash.jpg);
      background-position: center center;
      background-size: cover;

      .section-wrapper {
        height: 100%;
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        color: white;
        .name {
          font-size: 9vw;
          font-family: var(--font-poppins);
          margin: 0;
          text-transform: inherit;
        }
        .short-description {
          font-size: 22px;
          font-family: var(--font-roboto);
          margin: 10px 0 0 0;
          text-transform: inherit;
        }

        .name,
        .short-description {
          letter-spacing: 2.2px;
        }
      }
    }

    &#expertise {
      // background-color: var(--my-work-bg);

      .section-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: white;
        .title {
          font-size: 8vw;
          font-family: var(--font-poppins);
          margin: 0 0 30px 0;
          text-transform: uppercase;
          letter-spacing: 2.2px;
        }
        .skills-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          $gap: 10px;
          column-gap: $gap;
          row-gap: $gap;

          .skill {
            flex: 1;
            border-style: solid;
            border-width: 2px;
            border-color: #a3a3a3;

            padding: 40px 30px;
            min-width: calc(33% - #{$gap}/ 3);

            // &:nth-child(n + 4) {
            //   border-bottom-width: 2px;
            //   border-bottom-width: 2px;
            // }

            // &:nth-child(3n + 3) {
            //   border-right-width: 2px;
            // }

            // &:nth-child(3n + 1) {
            //   border-left-width: 2px;
            // }

            @media only screen and (max-width: 1200px) {
              min-width: calc(50% - #{$gap}/ 2);

              // &:nth-child(n + 4) {
              //   border-bottom-width: 0;
              // }

              // &:nth-child(n + 5) {
              //   border-bottom-width: 2px;
              // }

              // &:nth-child(3n + 3) {
              //   border-right-width: 1px;
              // }

              // &:nth-child(3n + 1) {
              //   border-left-width: 1px;
              // }

              // &:nth-child(2n) {
              //   border-right-width: 2px;
              // }

              // &:nth-child(2n + 1) {
              //   border-left-width: 2px;
              // }
            }

            @media only screen and (max-width: 800px) {
              min-width: 100%;
            }

            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            box-sizing: border-box;

            // &:first-of-type {
            //   border-left-width: 2px;
            // }

            // &:last-of-type {
            //   border-right-width: 2px;
            // }

            .skill-header-container {
              display: flex;
              align-items: center;
              column-gap: 1rem;
              height: 90px;

              svg {
                fill: white;
                height: 74px;
              }

              .skill-title {
                font-size: 26px;
                font-family: var(--font-poppins);
                margin: 0;
              }
            }

            .skill-description {
              font-size: 16px;
              font-family: var(--font-roboto);

              &::before,
              &::after {
                color: rgba(255, 255, 255, 0.5);
                display: block;
              }

              &::before {
                content: '<p>';
              }

              &::after {
                content: '</p>';
              }

              p {
                margin-left: 14px;
                border-left: 2px solid rgba(255, 255, 255, 0.4);
                padding-left: 18px;
              }
            }
          }
        }
      }
    }

    &#experience {
      .section-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: white;
        .title {
          font-size: 8vw;
          font-family: var(--font-poppins);
          margin: 0 0 30px 0;
          text-transform: uppercase;
          letter-spacing: 2.2px;
        }

        // .slider {
        //   overflow: hidden;
        //   width: 800px;
        //   margin: 50px auto;
        //   background: #fff;

        //   .animation {
        //     width: auto;
        //     height: 100px;
        //     font-size: 0px;

        //     div {
        //       display: inline-block;
        //       width: auto;
        //       float: none;
        //       padding: 0 10px;
        //     }
        //   }
        // }

        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(
              calc(var(--slide-width) * var(--no-of-slides) * -1)
            );
          }
        }

        .carousel {
          padding: 100px 0;

          overflow: hidden;
          width: calc(2 * var(--no-of-slides));
          max-width: 100vw;

          .carousel__wrapper {
            display: flex;
            /*justify-content: center;*/
            align-items: center;

            width: calc(var(--slides-in-view) * var(--slide-width));
            max-width: 100%;
            overflow: hidden;
            margin: 0 auto;

            .carousel__slide {
              animation: scroll var(--iteration-time) linear infinite;
              display: flex;
              flex-direction: column;

              flex: 0 0 auto;
              width: var(--slide-width);
              height: var(--slide-height);
              box-sizing: border-box;
              /*border: 1px dotted darkblue;*/

              .carousel__image {
                background-size: cover;
                background-repeat: no-repeat;

                height: 50%;
                max-height: 153px;
                /*width: 100px;*/
                margin: 15px 20px;

                background-color: white;
                border-radius: 1rem;

                a {
                  display: block;
                  font-size: 0;
                  width: 100%;
                  height: 100%;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding: 10px;
                    box-sizing: border-box;
                  }
                }
              }
            }
          }
        }

        .accordions-container {
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          max-width: 100%;

          .accordion {
            .accordion-header {
              font-family: var(--font-poppins);
              font-size: 16px;
              font-weight: 700;
              background-color: #490c86de;
              color: white;
              cursor: pointer;
              padding: 15px 20px;
              border-radius: 5px;
              width: 100%;
              border: none;
              text-align: left;
              outline: none;
              transition: 0.4s;

              display: flex;
              flex-direction: row;
              column-gap: 10px;

              &.active {
                margin-bottom: 10px;

                &::after {
                  content: '\2212';
                }
              }

              &.active,
              &:hover {
                background-color: #740cdc;
              }

              &:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                margin-left: 5px;
              }

              .job-title {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .role {
                  .company {
                  }
                }

                .period {
                }
              }
            }

            .panel-wrapper {
              max-height: 0;
              transition: max-height 0.5s ease-out;
              overflow: hidden;
              background-color: #241d41;

              .panel {
                padding: 18px;

                display: flex;
                gap: 1rem;
                align-items: center;

                @media only screen and (max-width: 767px) {
                  flex-direction: column-reverse;
                }

                .job-container {
                  font-size: 16px;
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  row-gap: 1rem;

                  .job-details {
                    display: flex;
                    column-gap: 1rem;

                    font-family: var(--font-roboto);
                    color: rgba(255, 255, 255, 0.8);

                    .location,
                    .employer {
                      display: flex;
                      align-items: center;

                      .icon {
                        font-size: 0;
                      }
                    }

                    .employer {
                      a {
                        color: inherit;
                      }
                    }
                  }

                  .job-description {
                    font-family: var(--font-poppins);
                    font-weight: 400;
                    margin: 0;
                    line-height: 25px;

                    a {
                      color: inherit;
                    }
                  }

                  .job-skills {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;

                    li {
                      background-color: #2c3599;
                      padding: 6px 16px;
                      border-radius: 20px;
                      font-family: var(--font-poppins);
                      font-weight: 400;
                      font-size: 15px;
                    }
                  }
                }

                .employer-logo-container {
                  font-size: 0;

                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 1rem;

                  img {
                    background-color: white;
                    padding: 1rem;
                    border-radius: 8px;
                    width: 100px;
                  }

                  @media only screen and (max-width: 767px) {
                    flex-direction: row;
                  }
                }
              }
            }
          }
        }
      }
    }

    &#reviews {
      background-color: var(--contact-bg);

      .section-wrapper {
        width: 60%;

        .grid {
          display: grid;
          grid-template-areas:
            'review1 review2'
            'review1 review3';
          gap: 10px;

          .review1 {
            grid-area: review1;
          }
          .review2 {
            grid-area: review2;
          }
          .review3 {
            grid-area: review3;
          }

          .review {
            padding: 1rem;
            background-color: red;
            display: flex;
            gap: 1rem;
            .image-wrapper {
              font-size: 0;

              img {
                border-radius: 50%;
                border: 2px solid white;
              }
            }

            .review-author {
            }

            .review-text {
            }
          }
        }
      }
    }

    &#contact {
      background-color: var(--contact-bg);
    }
  }
}

footer {
  height: var(--footer-height);
  background-color: var(--footer-bg);
}
